<h1>Estoque da loja</h1>

<form [formGroup]="formulario">
    <input type="text" formControlName="nome" class="form-control" placeholder="Nome">
    <select formControlName="categoria" class="form-select">
        <option selected>Selecione a categoria</option>
        <option value="bebida">Bebida</option>
        <option value="comida">Comida</option>
        <option value="embalagem">Embalagem</option>
        <option value="prodLimpeza">Produto de limpeza</option>
    </select>
    <input type="number" formControlName="entrada" class="form-control" placeholder="Qtd de entrada de produtos">
    <input type="number" formControlName="saida" class="form-control" placeholder="Qtd de saída de produtos">

    <div>
        <input type="button" class="btn btn-success" value="Cadastrar" (click)="cadastrar()" [disabled]="formulario.invalid">
    </div>
</form>

<table class="table">
    <thead>
        <tr>
            <th>#</th>
            <th>Nome</th>
            <th>Categoria</th>
            <th>Qtd.</th>
            <th>Ações</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let v of vetor; index as indice">
            <td>{{ indice + 1 }}</td>
            <td>{{ v.nome }}</td>
            <td>{{ v.categoria }}</td>
            <td>{{ v.qtdRestante }}</td>
            <td>
                <button><i class="bi bi-pencil-square"></i></button>
                <button><i class="bi bi-trash"></i></button>
            </td>
        </tr>
    </tbody>
</table>
