@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

*{
    width: 100%;
}

.titulo{
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
}

.titulo h1{
    margin: 10px auto;
}

form{
    width: 400px;
    margin: auto;
    flex-direction: column;
}

form label{
    text-align: left;
}

form div{
    gap: 10px;
}

form input, form select{
    margin-bottom: 5px;
}

table{
    width: 80%;
    margin: 100px auto;
    flex-direction: column;
}

table th, table td{
    width: 20%;
}

.btnAcao{
    width: 300px;
    display: flex;
    justify-content: space-around;
}

.btnAcao button{
    width: 25px;
    height: 25px;
    margin: 5px;
    border: none;
    background-color: transparent;
}

.btnAcao button i{
    font-size: 30px;
}